iframe {
    border: none;
}

.card-over {
    margin-top: -40px;
    z-index: 2;
}


/*1-Neutral; 2-Female; 3-Male*/

.bg {
    background-color: #eceff1;
    /*background-color: #f3e5f5; */
    /*background-color: #e3f2fd;*/
}

.huge {
    font-size: 20pt
}

.profile {
    background-color: white;
    border-radius: 50px
}

.success {
    color: green;
}

.fail {
    color: red;
}

.small {
    font-size: 12pt;
}

.rounded {
    border-radius: 8px;
}

.list-item {
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #f3e5f5;
}
