iframe {
    border: none;
}

.card-over {
    margin-top: -40px;
    z-index: 2;
}

/*1-Neutral; 2-Female; 3-Male*/
.bg {
    /*background-color: #eceff1;*/
    background-color: #f3e5f5; 
    /*background-color: #bbdefb;*/
}
